@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

::-webkit-input-placeholder {
  color: #85939f;
  text-indent: 0px;
  transition: opacity 0.3s ease;
}

a {
  font-family: 'Oxygen', sans-serif;
}
a:hover {
  text-decoration: none;
  opacity: .55;
}

::-moz-placeholder {
  color: #85939f;
  text-indent: 0px;
  transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.7s ease;
}

:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.7s ease;
}

.works, .comments-section {
  background: #b9b9cb;
}

.comments-section blockquote {
  max-width: 650px;
  margin: 0 auto;
}

.about-company-section {
  background: #02baab;
}

.purchase-section {
  background-color: #02baab;
}

.action-list {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.action-list li {
  margin-bottom: .5rem;
}
.action-list li:last-child {
  margin: 0;
}

.skills-list li {
  display: inline-block;
  margin-bottom: 70px;
  position: relative;
}
.skills-list li:last-child {
  margin: 0;
}
.skills-list li:nth-last-child(2) {
  margin: 0;
}
.skills-list li:nth-child(2n+1) {
  padding-left: 60px;
}
.skills-list li P {
  max-width: 365px;
}

.comments-section .comments {
  margin-top: 70px;
}

.comments::before {
  content: "";
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../images/quote.png");
  width: 44px;
  height: 36px;
}

.article-list .learn-more {
  border-bottom: 1px solid #c3c3c3;
}
.article-list li {
  margin-bottom: 50px;
}

.dots::after {
  content: "\f141";
  font-size: 3rem;
  font-family: "FontAwesome", sans-serif;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -160%;
}

.info-card {
  width: 210px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.info-person {
  position: absolute;
  display: flex;
  align-items: flex-end;
  text-align: center;
  bottom: 0;
  height: 120px;
  background: #fff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.short-info-person {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 1px solid #eeeeee;
  width: 135px;
  height: 60px;
  background: #fff;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
}

img:hover {
  color: transparent;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
input {
  font-family: 'Lato', sans-serif;
  outline: none;
}

.search {
  background-color: transparent;
  font: 400 .75rem 'Lato';
  border: 1px solid rgba(133, 147, 159, 0.5);
  color: #85939f;
  width: 205px;
}
.search + label {
  position: relative;
}
.search-after::after {
  top: 0;
  bottom: 0;
  right: 1.2rem;
  margin: auto;
  position: absolute;
  content: "\f002";
  font-family: 'FontAwesome', serif;
  color: #85939f;
}

.control {
  font-size: .75rem;
  line-height: 2rem;
  color: #85939f;
}
.control:hover {
  color: #bec6cc;
}
.control:before {
  font-family: 'FontAwesome', serif;
  padding-right: .25rem;
}
.control-login::before {
  content: '\f2be';
}
.control-register::before {
  content: '\f040';
}

.welcome .carousel-inner {
  height: calc(100vh - 117px);
}
.welcome .carousel-inner img {
  width: 100%;
  height: calc(100vh - 117px);
}

.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 0;
}

.first-slide {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url("../images/first-slide.jpg") no-repeat center center;
  background-size: 100% 100%;
  height: calc(100vh - 136px);
}

.second-slide {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url("../images/second-slide.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 136px);
}

.third-slide {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url("../images/third-slide.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 136px);
}

.fourth-slide {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url("../images/fourth-slide.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 136px);
}

.fifth-slide {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url("../images/fifth-slide.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 136px);
}

.carousel-indicators {
  bottom: 50px;
}
.carousel-indicators li {
  background-color: #fff;
}
.carousel-indicators .active {
  background-color: #02baab;
}

button {
  font-family: 'Oxygen' , sans-serif;
  outline: none;
}

.btn {
  width: 140px;
  height: 40px;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
  position: relative;
}
.btn-sky {
  background-color: #02baab;
  border: 1px solid #02baab;
  color: #ffffff;
  border-radius: 0;
}
.btn-transperent {
  background-color: transparent;
  border: 1px solid #02baab;
  color: #02baab;
  border-radius: 0;
}
.btn-transperent-light {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  width: 170px;
}
.btn-white-light {
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #02baab;
  color: #02baab;
  border-radius: 0;
}
.btn-btn-sm-buy {
  width: 100px;
  height: 40px;
  color: #fc7100;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid #fc7100;
}

hgroup {
  font-family: 'Oxygen', sans-serif;
}

.welcome-h2, .welcome-h3 {
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #02baab;
}

.welcome-h3 {
  color: #fff;
}

.h2-general-b {
  font-size: 2.25rem;
  line-height: 1.25rem;
  position: relative;
  color: #3b4954;
}
.h2-general-b::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px;
  background-color: #eeeeee;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.h2-general-w {
  font-size: 2.25rem;
  line-height: 1.25rem;
  position: relative;
  color: #fff;
}
.h2-general-w::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px;
  background-color: #fff;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.list-header {
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #000;
}

.article-header {
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #02baab;
}

.mrg-l {
  margin-left: 3.125rem;
}
.mrg-l-md {
  margin-left: 4.6875rem;
}
.mrg-l-lg {
  margin-left: 6.25rem;
}
.mrg-r {
  margin-right: 3.125rem;
}
.mrg-r-md {
  margin-right: 4.6875rem;
}
.mrg-r-lg {
  margin-right: 6.25rem;
}
.mrg-b {
  margin-bottom: 3.125rem;
}
.mrg-b-md {
  margin-bottom: 4.6875rem;
}
.mrg-b-lg {
  margin-bottom: 6.25rem;
}
.mrg-t {
  margin-top: 3.125rem;
}
.mrg-t-md {
  margin-top: 4.6875rem;
}
.mrg-t-lg {
  margin-top: 6.25rem;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.section-padding {
  padding: 3.125rem 0;
}
.section-padding-lg {
  padding: 6.25rem 0;
}

.text {
  font: 300 1.125rem/1.875rem 'Oxygen', sans-serif;
}
.text-transform {
  text-transform: none;
}
.text-xlg {
  font: 3rem/2.25rem 'Oxygen', sans-serif;
}
.text-lg-bold {
  font: 700 1.125rem/1.5rem 'Oxygen', serif;
}
.text-lg {
  font: 1.5rem/2.25rem "Oxygen";
}
.text-md {
  font: .875rem/1.5rem 'Oxygen', sans-serif;
}
.text-sm {
  font: .75rem/1.25rem 'Oxygen', sans-serif;
}
.text-sm-lh {
  font: .75rem "Oxygen" , sans-serif;
}
.text-xs {
  font: .875/1.125rem 'Oxygen', sans-serif;
}
.text-dark {
  color: #3b4954;
}
.text-light {
  color: #fff;
}
.text-sky {
  color: #02baab;
}
.text-silver {
  color: #cfcfcf;
}
.text-dark-silver {
  color: #9b9b9b;
}
.text-graphite-dark {
  color: #85939f;
}
.text-graphit-darken {
  color: #474e52;
}
.text-dust {
  color: #c69c6d;
}
.text-important {
  color: #ffae00;
}
.text-bold {
  font-weight: 700;
}

.text-container {
  max-width: 730px;
  margin: auto;
}

.img-wrapper {
  width: 290px;
  height: 290px;
  overflow: hidden;
  position: relative;
}
.img-wrapper-md {
  width: 290px;
  height: 220px;
  overflow: hidden;
}
.img-wrapper-lg {
  width: 690px;
  height: 520px;
  overflow: hidden;
}
.img-wrapper-xlg {
  width: 690px;
  height: 900px;
  overflow: hidden;
}
.img-wrapper-xs {
  width: 210px;
  height: 160px;
  overflow: hidden;
}
.img-wrapper-s {
  width: 210px;
  height: 278px;
  overflow: hidden;
  position: relative;
}
.img-wrapper-s img {
  display: block;
  opacity: .5;
}
.img-wrapper:hover {
  background: black;
}
.img-wrapper:hover .content-wrapper {
  display: none;
}
.img-wrapper:hover .action-list {
  display: block;
}

.team-list li:hover .info-person {
  display: none;
}
.team-list li:hover .short-info-person {
  display: none;
}
.team-list li:hover .info-card button {
  background: #02baab;
  color: #fff;
}
.team-list li:hover img {
  opacity: 1;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 0 1rem;
  width: 290px;
  min-height: 50px;
  position: absolute;
  background: #3b4954;
  bottom: 0;
}

.wrapper-icon {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #02baab;
  position: relative;
}
.wrapper-icon-md {
  width: 100px;
  height: 100px;
  background: #000000;
  border-radius: 50%;
  position: relative;
}
.wrapper-icon-lg {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid #fff;
}
.wrapper-icon:hover {
  background-color: rgba(2, 186, 171, 0.6);
}

.flex-wrapper-purchase {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-net-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: .875rem;
}

.icon {
  font-family: 'FontAwesome', sans-serif;
}
.icon-like::after {
  content: "\f004";
  color: #fff;
  font-size: .875rem;
  line-height: 1.5rem;
}
.icon-like-sm::before {
  content: "\f004";
  font-size: 1rem;
  color: #cbcbcb;
  padding-right: 10px;
}
.icon-checked-sm:before {
  content: "\f14a";
  font-size: 1rem;
  color: #fc7100;
  padding-right: 10px;
}
.icon-circle-like::after {
  content: "\f004";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: #fff;
  font-size: 1.25rem;
}
.icon-circle-search-plus::after {
  content: "\f00e";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: #fff;
  font-size: 1.25rem;
}
.icon-circle-share::after {
  content: "\f079";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: #fff;
  font-size: 1.25rem;
}
.icon-star::before {
  content: "\f005";
  position: absolute;
  top: -10px;
  left: -10px;
  color: #02baab;
  font-size: 3rem;
}
.icon-magic::before {
  content: "\f0d0";
  position: absolute;
  top: -10px;
  left: -10px;
  color: #02baab;
  font-size: 3rem;
}
.icon-trophy::before {
  content: "\f091";
  position: absolute;
  top: -10px;
  left: -60px;
  color: #02baab;
  font-size: 3rem;
}
.icon-cloud::before {
  content: "\f0ee";
  position: absolute;
  top: -10px;
  left: -60px;
  color: #02baab;
  font-size: 3rem;
}
.icon-comments-xs::before {
  content: "\f086";
  color: #02baab;
  font-size: .875rem;
  padding-right: 10px;
}
.icon-settings-lg:before {
  content: "\f085";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
}
.icon-call-lg::before {
  content: "\f095";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
}
.icon-call-sm::before {
  content: "\f095";
  color: #02baab;
  font-size: 1rem;
  padding-right: 10px;
}
.icon-flag-sm::before {
  content: "\f024";
  color: #02baab;
  font-size: 1rem;
  padding-right: 10px;
}
.icon-letter-sm::before {
  content: "\f0e0";
  color: #02baab;
  font-size: 1rem;
  padding-right: 10px;
}
.icon-letter-xs::before {
  position: absolute;
  content: "\f0e0";
  color: #fff;
  font-size: .725rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-rocket-lg::before {
  content: "\f135";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
}
.icon-twitter-sm::before {
  position: absolute;
  content: "\f099";
  color: #02baab;
  font-size: 1rem;
  left: -20px;
}
.icon-twtter-md::before {
  position: absolute;
  content: "\f099";
  color: #fff;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-twtter-sm::before {
  position: absolute;
  content: "\f099";
  color: #fff;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-twitter-xs::before {
  position: absolute;
  content: "\f099";
  color: #fff;
  font-size: .725rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-letter-md::before {
  position: absolute;
  content: "\f003";
  color: #fff;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-print-sm::before {
  position: absolute;
  content: "\f02f";
  color: #fff;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-plus-sm::before {
  position: absolute;
  content: "\f067";
  color: #fff;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-plus-xs::before {
  position: absolute;
  content: "\f067";
  color: #fff;
  font-size: .725rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-triangle-left::before {
  position: absolute;
  content: "<";
  color: #fc7100;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-triangle-right::before {
  position: absolute;
  content: ">";
  color: #fc7100;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-keyboard-sm::before {
  content: "\f11c";
  position: absolute;
  color: #cbcbcb;
  top: -25px;
  left: 0;
}
.icon-bookmark-sm::before {
  content: "\f02e";
  position: absolute;
  color: #cbcbcb;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.icon-quote-sm::before {
  content: "\f10d";
  position: absolute;
  color: #cbcbcb;
  top: 1rem;
  left: 0;
}
.icon-traingle-down::after {
  content: "\f0d7";
  position: absolute;
  color: #02baab;
  font-size: 1.5rem;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.icon-facebook-md::before {
  position: absolute;
  content: "\f09a";
  color: #fff;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-facebook-sm::before {
  position: absolute;
  content: "\f09a";
  color: #fff;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-facebook-xs::before {
  position: absolute;
  content: "\f09a";
  color: #fff;
  font-size: .725rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-youtube-md::before {
  position: absolute;
  content: "\f167";
  color: #fff;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-instagram-md::before {
  position: absolute;
  content: "\f16d";
  color: #fff;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-pinterest-md::before {
  position: absolute;
  content: "\f231";
  color: #fff;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-pinterest-xs::before {
  position: absolute;
  content: "\f231";
  color: #fff;
  font-size: .725rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-user-sm::before {
  content: "\f2bd";
  color: inherit;
  font-size: 1rem;
  padding-right: .5rem;
}
.icon-clock-sm::before {
  content: "\f017";
  color: inherit;
  font-size: 1rem;
  padding-right: .5rem;
}
.icon-comments-sm::before {
  content: "\f0e6";
  color: inherit;
  font-size: 1rem;
  padding-right: .5rem;
}
.icon-tags-sm::before {
  content: "\f02c";
  color: #02baab;
  font-size: 1rem;
  padding-right: .5rem;
}

.google-map {
  width: 220px;
  height: 150px;
  background-color: grey;
}

.header-top {
  background-color: #000;
}

.navbar-header {
  background-color: #7f7f7f;
}
.navbar-header .navbar-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-header .navbar-header-list li {
  display: inline-block;
  float: left;
  width: 100px;
  text-align: center;
  line-height: 58px;
}
.navbar-header .navbar-header-list li a {
  font-size: .75rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
}
.navbar-header .navbar-header-list li a:hover {
  color: #cccccc;
}
.navbar-header .navbar-header-list li:nth-child(1) {
  border-top: 10px solid #ffae00;
}
.navbar-header .navbar-header-list li:nth-child(2) {
  border-top: 10px solid #fc7100;
}
.navbar-header .navbar-header-list li:nth-child(3) {
  border-top: 10px solid #e51c5e;
}
.navbar-header .navbar-header-list li:nth-child(4) {
  border-top: 10px solid #ae0f8d;
}
.navbar-header .navbar-header-list li:nth-child(5) {
  border-top: 10px solid #6d0fae;
}
.navbar-header .navbar-header-list li:nth-child(6) {
  border-top: 10px solid #33227a;
}
.navbar-header .navbar-header-list li:nth-child(7) {
  border-top: 10px solid #0c8fcc;
}

.footer-top {
  padding-bottom: 80px;
}
.footer-top > ul:nth-child(1) {
  border-top: 15px solid #6d0fae;
}
.footer-top > ul:nth-child(2) {
  border-top: 15px solid #0c8fcc;
}
.footer-top > ul:nth-child(3) {
  border-top: 15px solid #e51c5e;
}
.footer-top > ul:nth-child(4) {
  border-top: 15px solid #ffae00;
}
.footer-top > ul > li {
  padding-left: 10px;
}
.footer-top .tweets-list li {
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  position: relative;
}
.footer-top .social-networks-list li {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

footer {
  background-color: #242e35;
}

.facebook {
  background: #3e5894;
}

.twit {
  background: #009ece;
}

.youtube {
  background: #c43131;
}

.instagram {
  background: #825d4b;
}

.pinterest {
  background: #a30037;
}

.popular-lists li {
  margin-bottom: 1.5rem;
}
.popular-lists li:last-child {
  margin: 0;
}
.popular-lists li a:hover {
  color: #01887d;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.footer-bottom button {
  width: 160px;
  position: relative;
}
.footer-bottom button:after {
  content: "\f077";
  font-size: 1rem;
  font-family: "FontAwesome" , serif;
  color: #02baab;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.blog-view-section {
  padding: 150px 0 50px 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url("../images/bg-blog.jpg") no-repeat center center;
  background-size: cover;
}
.blog-view-section .blog-info-list li {
  display: inline-block;
  margin-right: 2.5rem;
}
.blog-view-section .blog-info-list li:last-child {
  margin: 0;
}
.blog-view-section .breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}

.article-section {
  padding: 50px 0 100px 0;
}

.pages-list li {
  display: inline-block;
  padding: 6px 12px 6px 12px;
}

.active-page {
  background-color: #cbcbcb;
}

.active-link {
  color: #000;
}

.blog-section {
  padding: 50px 0;
}
.blog-section main {
  max-width: 690px;
}
.blog-section blockquote::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 120px;
  background: #cbcbcb;
}
.blog-section .article-img-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.blog-section .article-img-list li {
  width: 210px;
  height: 160px;
  overflow: hidden;
}
.blog-section .contacts-icon {
  margin-bottom: 50px;
}
.blog-section .contacts-icon li:nth-child(1) {
  background-color: #34578e;
}
.blog-section .contacts-icon li:nth-child(2) {
  background-color: #2ca6cf;
}
.blog-section .contacts-icon li:nth-child(3) {
  background-color: #72898c;
}
.blog-section .contacts-icon li:nth-child(4) {
  background-color: #72898c;
}
.blog-section .contacts-icon li:nth-child(5) {
  background-color: #f96852;
}
.blog-section .contacts-icon li {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.related-posts-list {
  display: flex;
  margin-bottom: 50px;
}
.related-posts-list li {
  position: relative;
  display: inline-block;
  padding: 0;
}

.sidebar {
  max-width: 210px;
  width: 100%;
}
.sidebar .categories-list {
  margin-bottom: 50px;
}
.sidebar .categories-list li {
  position: relative;
  padding: 1rem 0 1rem 1.5rem;
  border-bottom: 1px solid #cbcbcb;
}
.sidebar .recent-comments-list {
  margin-bottom: 50px;
}
.sidebar .recent-comments-list li {
  position: relative;
  padding: 1rem 0 .5rem 1.5rem;
  border-bottom: 1px solid #cbcbcb;
}
.sidebar .tag-cloud-list {
  margin-bottom: 50px;
}
.sidebar .tag-cloud-list li {
  display: inline-block;
  padding: .5rem;
  margin: 5px 4px 0 0;
  border: 1px solid #cbcbcb;
}
.sidebar .tag-cloud-list li:hover {
  background: #02baab;
}
.sidebar .tag-cloud-list li:hover > a {
  color: #fff;
}

.add-comments-section {
  padding: 50px 0 100px 0;
  background: #eaf0f3;
}
.add-comments-section .comments-container {
  max-width: 690px;
}
.add-comments-section .comments-container form {
  overflow: hidden;
}
.add-comments-section .comments-container .comments-list li {
  padding: 2rem;
  background: #fff;
  margin-bottom: 2rem;
}
.add-comments-section .comments-container .comments-list li:hover .reply-hidden {
  display: block;
}
.add-comments-section .comments-container .comments-list li .reply-hidden {
  display: none;
}
.add-comments-section .comments-container .comments-list li:nth-child(2n) {
  margin-left: 30px;
}
.add-comments-section .form-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.add-comments-section .form-list li {
  display: inline-block;
}
.add-comments-section .form-list li input {
  width: 220px;
  outline: none;
  padding: .25rem;
  box-shadow: 0 -1px 0 #9eb9c9;
}
.add-comments-section .form-list li textarea {
  width: 690px;
  box-shadow: 0 -1px 0 #9eb9c9;
  min-height: 110px;
  padding: .5rem;
  resize: none;
  outline: none;
}

.portfolio-section {
  padding: 50px 0 100px 0;
}
.portfolio-section .d-flex li {
  margin-bottom: 2rem;
}
.portfolio-section .category-list {
  margin-bottom: 2.5rem;
}
.portfolio-section .category-list li {
  display: inline-block;
  margin-right: .850rem;
  padding-top: 10px;
  padding-bottom: 4px;
}
.portfolio-section .category-list li:last-child {
  margin: 0;
}
.portfolio-section .active {
  border-top: 5px solid #cbcbcb;
}

.project-section {
  padding: 50px 0 100px 0;
}
.project-section .project-content {
  max-width: 690px;
}
.project-section .project-desription-wrapper {
  width: 210px;
}
.project-section .project-desription-wrapper .control-triangle li {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #cbcbcb;
}
.project-section .project-desription-wrapper .control-triangle li:hover {
  border: 2px solid #fc7100;
}
.project-section .project-desription-wrapper .description-list {
  margin-bottom: 2rem;
}
.project-section .project-desription-wrapper .description-list li {
  margin-bottom: 1rem;
}
.project-section .social-networks-list {
  text-align: center;
}
.project-section .social-networks-list li:nth-child(1) {
  background-color: #34578e;
}
.project-section .social-networks-list li:nth-child(2) {
  background-color: #2ca6cf;
}
.project-section .social-networks-list li:nth-child(3) {
  background-color: #72898c;
}
.project-section .social-networks-list li:nth-child(4) {
  background-color: #d9211e;
}
.project-section .social-networks-list li:nth-child(5) {
  background-color: #f96852;
}
.project-section .social-networks-list li {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: .25rem;
}
