.control {
  font-size: .75rem;
  line-height: 2rem;
  color: $graphite-dark;

  &:hover {
    color: lighten($graphite-dark, 20%);
  }

  &:before {
    font-family: 'FontAwesome', serif;
    padding-right: .25rem;
  }

  &-login::before {
      content: '\f2be';

  }
  &-register::before {
      content: '\f040';
  }
}
