.text {
  font: 300 1.125rem/1.875rem 'Oxygen', sans-serif;

  &-transform {
    text-transform: none;
  }

  &-xlg {
    font: 3rem/2.25rem 'Oxygen', sans-serif;
  }

  &-lg-bold {
    font: 700 1.125rem/1.5rem 'Oxygen', serif;
  }

  &-lg {
    font: 1.5rem/2.25rem "Oxygen";
  }

  &-md {
    font: .875rem/1.5rem 'Oxygen', sans-serif;
  }

  &-sm {
    font: .75rem/1.25rem 'Oxygen', sans-serif;
  }

  &-sm-lh {
    font: .75rem "Oxygen" , sans-serif;
  }

  &-xs {
    font: .875/1.125rem 'Oxygen', sans-serif;
  }

  &-dark {
    color: $dark;
  }

  &-light {
    color: $white;
  }

  &-sky {
    color: $sky;
  }

  &-silver {
    color: #cfcfcf;
  }
  &-dark-silver {
    color: #9b9b9b;
  }
  &-graphite-dark {
    color: $graphite-dark;
  }

  &-graphit-darken {
    color: $graphite-darken;
  }

  &-dust {
    color: $dust;
  }

  &-important{
    color: $yellow;
  }

  &-bold {
    font-weight: 700;
  }
}
