.footer-top {
  >ul {
    >li {
      padding-left: 10px;
    }
  }

  .tweets-list {
    li {
      margin-bottom: 1.5rem;
      margin-left: 1.5rem;
      position: relative;
    }
  }

  .social-networks-list {
    li {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
    }
  }
  @each $col in footer-list-1, footer-list-2, footer-list-3, footer-list-4 {
    $i: $i + 1;
    & .#{$col} {
      border-top: 15px solid nth($color-gamma-footer, $i);
    }
  }
}

footer {
  background-color: #242e35;
}

.facebook {
  background: #3e5894;
}

.twit {
  background: #009ece;
}

.youtube {
  background: #c43131;
}

.instagram {
  background: #825d4b;
}

.pinterest {
  background: #a30037;
}
